head
    title="Le Dashboard"
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/dashboard.css')
    script(src="/js/jquery-3.2.0.js")
    script(src="/js/bootstrap.min.js")
    script(src='/js/tooltip.js')