div(class='navbar navbar-inverse navbar-fixed-top')
  div(class='container-fluid')
    div(class='navbar-header')
      a(class='navbar-brand', href='/') Dashboard Demo 1.0

  div(class='container-fluid')
    div(class='row')
      div(class='col-sm-3 col-md-2 sidebar')
        
        h4 Miljøer:
        ul(class='nav nav-sidebar')
          li
            a(href="/environments/todoapp") TodoApp

        h4 Nyttige linker:
        ul(class='nav nav-sidebar')
          li
            a(href="http://jz17demo.acntech.no:8080/" target="_blank") Jenkins
            a(href="http://jz17demo.acntech.no:4440/" target="_blank") Rundeck
            a(href="http://jz17demo.acntech.no:9090/" target="_blank") Docker Hub
            a(href="http://registry.jz17demo.acntech.no:5000/v2/_catalog" target="_blank") Docker Registry
            a(href="https://github.com/acntech?utf8=%E2%9C%93&q=jz17&type=&language=" target="_blank") Git Repos
