html
  include includes/head.pug
  body
    include includes/menu.pug
    if selectedEnvironment
      script(src='/js/changeTagListBasedOnChosenBranch.js')

    div(class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main')
      h1(class='page-header')
        span Velkommen til dashboardet

      p.
        Litt nyttig informasjon her... 
